@import "../node_modules/ag-grid-community/styles/ag-grid.min.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-quartz.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  width: 96%;
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

button {
  margin: 2px;
}

img {
  max-width: 100%;
}
